<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761067703853-p4vj3rj2ihe96uq0tk9i8jrqlncoshdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761067703853-p4vj3rj2ihe96uq0tk9i8jrqlncoshdl</string>
	<key>API_KEY</key>
	<string>AIzaSyDq49ixDeJPBpjTbovJ-UT9ueF9Tn3jiXI</string>
	<key>GCM_SENDER_ID</key>
	<string>761067703853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AloneTogether</string>
	<key>PROJECT_ID</key>
	<string>alonetogether-88c06</string>
	<key>STORAGE_BUCKET</key>
	<string>alonetogether-88c06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761067703853:ios:9ca5ad25639d119426b2a4</string>
	<key>DATABASE_URL</key>
	<string>https://alonetogether-88c06.firebaseio.com</string>
</dict>
</plist>